.EditbarItem {
  position: relative;
  // max-width: 10vw;
  // height: 10vw;
  // width: auto;
  overflow: hidden;

  flex: 1;

  border: 2px solid yellow;

  // img {
    // position: relative;
    // max-width: 100%;
    // max-height: 100%;
    // overflow: hidden;

    // border: 1px solid blue;
  // }

}
