$editbar-width: 20vw;

.Editbar {
  position: fixed;
  height: 80vh;
  width: $editbar-width;
  z-index: 1;
  top: 10vh;
  left: 0;
  background-image: radial-gradient(#ad8fa3, #394768);
  transition: .75s; /* 0.5 second transition effect to slide in the sidenav */

  // overflow: hidden;

  // border: 1px solid black;
  border-radius: 8px;

  div {
    margin: 5%;
  }
}

.Editbar.Editbar-hidden {
  // left: -74vw;
  left: 0 - ($editbar-width - 2)
}
