.Editbar {
  position: fixed;
  height: 75vh;
  width: 75vw;
  z-index: 1;
  top: 10%;
  left: 0%;
  background-image: radial-gradient(#7b8266, #394768);

  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px; /* Place content 60px from the top */
  transition: .75s; /* 0.5 second transition effect to slide in the sidenav */

  display: flex;
  // flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;

  overflow: hidden;

  // border: 1px solid black;
  border-radius: 8px;
}

.Editbar.Editbar-hidden {
  left: -74vw;
}
