.ItembarItem {
  position: relative;
  margin: 10px;
  max-height: 20vh;
  max-width: 15vw;
  overflow: hidden;

  flex-basis: 1;

  &:hover {
    filter: drop-shadow(0 0 10px #0ff);
  }
  &:active {
    filter: drop-shadow(0 0 10px #ff80d5);
  }
  // border: 2px solid yellow;
}
