.navbar {
    height: 6%; /* 100% Full-height */
    width: 3.375%; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0%; /* Stay at the top */
    right: 0%;
    background-image: radial-gradient(#7b8266, #394768); /* Black*/
    border: 2px black;
    border-radius: 8px;
    border-style: solid;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px; /* Place content 60px from the top */
    padding-right: 20px;
    transition: .75s; /* 0.5 second transition effect to slide in the sidenav */
}
