a {
  color: inherit;
  text-decoration: inherit; }

.navtext {
  width: 100%;
  font-size: 8vmax; }

.nextshrines:hover {
  opacity: .8; }

.previousshrines:hover {
  opacity: .8; }

.container {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -4; }

.to-creation {
  left: 10%;
  width: 10%;
  position: fixed;
  bottom: 0%;
  font-size: 350%;
  color: whitesmoke;
  text-shadow: 2px 2px 2px black; }

.to-about {
  left: 80%;
  width: 10%;
  position: fixed;
  bottom: 0%;
  font-size: 350%;
  color: whitesmoke;
  text-shadow: 2px 2px 2px black; }

.nextshrines {
  transition: .4s;
  opacity: .1;
  justify-content: center;
  right: 0;
  top: 0;
  height: 100%;
  width: 5%;
  background-image: radial-gradient(steelblue, white);
  z-index: 1;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

.previousshrines {
  transition: .4s;
  opacity: .2;
  left: 0;
  top: 0;
  height: 100%;
  width: 5%;
  background-image: radial-gradient(steelblue, white);
  z-index: 1;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

.Shrines {
  position: fixed;
  z-index: -5;
  background-image: radial-gradient(#7b8266, #394768);
  height: 100%;
  width: 100%; }

.shrinegrid {
  opacity: 1;
  left: 10%;
  top: 0%;
  position: absolute;
  color: white;
  justify-content: space-around;
  height: 100%;
  width: 80%;
  flex-wrap: wrap;
  display: flex;
  transition: .6s; }

.shrinegrid_fading_in {
  opacity: 0;
  left: -10%;
  top: 0%;
  position: fixed;
  color: white;
  justify-content: space-around;
  height: 100%;
  width: 80%;
  flex-wrap: wrap;
  display: flex;
  transition: .01s;
  overflow: hidden; }

.shrinegrid_fading_out {
  opacity: 0;
  left: 90%;
  top: 0%;
  position: absolute;
  color: white;
  justify-content: space-around;
  height: 100%;
  width: 80%;
  flex-wrap: wrap;
  display: flex;
  transition: .4s;
  overflow: hidden; }

.shrinegrid_fading_in_back {
  opacity: 0;
  left: 120%;
  top: 0%;
  position: fixed;
  color: white;
  justify-content: space-around;
  height: 100%;
  width: 80%;
  flex-wrap: wrap;
  display: flex;
  transition: .01s;
  overflow: hidden; }

.shrinegrid_fading_out_back {
  opacity: 0;
  left: -20%;
  top: 0%;
  position: absolute;
  color: white;
  justify-content: space-around;
  height: 100%;
  width: 80%;
  flex-wrap: wrap;
  display: flex;
  transition: .4s;
  overflow: hidden; }

.minishrine {
  height: 270px;
  width: 480px;
  border-radius: 120px;
  margin: 2%;
  overflow: hidden; }

.border {
  height: 270px;
  width: 480px;
  border-radius: 120px;
  border-style: solid;
  border: 8px black;
  background: none;
  display: inline;
  z-index: 1;
  overflow: hidden; }

p {
  margin: 1%;
  padding: 1%;
  font-size: 200%; }

.minibackground {
  border-radius: 20px;
  border-style: solid;
  border: 2px black;
  height: inherit;
  z-index: 0;
  width: inherit; }

.shrineviewer {
  color: black;
  text-shadow: 1px 2px 3px white; }

/*# sourceMappingURL=Shrines.css.map */
